<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging">
			</section>
		</sectionGroup>
	</configSections>

	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
				<arg key="level" value="INFO" />
				<arg key="showLogName" value="true" />
				<arg key="showDataTime" value="true" />
				<arg key="dateTimeFormat" value="yyyy-MM-dd HH:mm:ss:fff" />
			</factoryAdapter>
		</logging>
	</common>
	
	<system.diagnostics>
		<trace>
			<listeners>
				<add name="AzureDiagnostics"
						 type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>